@charset "UFT-8";

body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(152, 228, 117);
}

.quem-somos {
    background-color: rgb(221, 221, 221);
    color: #505050;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(173, 173, 173);
}

.servicos {
    background-color: rgb(221, 221, 221);
}

.bg-footer {
    color: white;
    background-color: black;
}